# ignore everything
/*

# allowed misc files
!.gitmodules
!.gitignore
!.git-blame-ignore-revs
!README.md

# zsh
!zsh
zsh/*
!zsh/.zshrc
!zsh/.zshenv
!zsh/.zprofile
!zsh/scripts.zsh
!zsh/aliases.zsh

# starship
!starship
starship/*
!starship/config.toml

# tmux
!tmux
tmux/*
!tmux/tmux.conf
!tmux/scripts

# git
!git
git/*
!git/config
!git/ignore
!git/config.d
git/config.d/*
!git/config.d/aflabs.conf
!git/config.d/flare.conf

# ghostty
!ghostty
ghostty/*
!ghostty/config
!ghostty/themes

# sway
!sway
sway/*
!sway/config
!sway/config.d
!sway/host.d

!swaylock
swaylock/*
!swaylock/config

!swayidle
swayidle/*
!swayidle/config

# waybar
!waybar
waybar/*
!waybar/config.jsonc
!waybar/style.css
!waybar/scripts
waybar/scripts/*
!waybar/scripts/ssh-session.sh
!waybar/scripts/vpn-status.sh
!waybar/scripts/notification-status.sh
!waybar/scripts/mic-status.sh

# eww
!eww
eww/*
!eww/eww.yuck
!eww/eww.scss
!eww/scripts
eww/scripts/*
!eww/scripts/popup.sh
!eww/scripts/system.sh
!eww/scripts/battery.sh
!eww/scripts/volume.sh
!eww/scripts/bluetooth.sh
!eww/scripts/network.sh
!eww/scripts/vpn.sh
!eww/scripts/keyboard.sh
!eww/scripts/media.sh

# sway scripts
!sway/scripts
sway/scripts/*
!sway/scripts/power-menu.sh

# bin
!bin
bin/*
!bin/ssh-menu

# swaync
!swaync
swaync/*
!swaync/config.json
!swaync/style.css

# fuzzel
!fuzzel
fuzzel/*
!fuzzel/fuzzel.ini

# flameshot
!flameshot
flameshot/*
!flameshot/flameshot.ini
