# ignore everything
/*

# allowed misc files
!.gitmodules
!.gitignore
!README.md

# allow some stuff to be pushed
!alacritty
!nvim
!.pyenv

# zsh
!zsh
zsh/antigen.zsh
zsh/completions/*
!zsh/completions/.keep

# tmux
!tmux
tmux/plugins

# git
!git
git/*
!git/config
!git/gitignore
!git/aflabs
