# ignore everything
/*

# allowed misc files
!.gitmodules
!.gitignore
!README.md

# allow some stuff to be pushed
!alacritty
!nvim
!.pyenv

# zsh
!zsh
zsh/*
!zsh/.zshrc
!zsh/.zshenv
!zsh/.zprofile
!zsh/scripts.zsh
!zsh/aliases.zsh
!zsh/completions/.keep
!zsh/.p10k.zsh

# tmux
!tmux
tmux/*
!tmux/tmux.conf
!tmux/tmux-new-project
!tmux/tmux-sessionizer
!tmux/tmux-ggclone
!tmux/tmux-ssher

# git
!git
git/*
!git/config
!git/gitignore
!git/aflabs
