add_newline = false

format = """\
$hostname\
[$directory](cyan)\
$git_branch\
$git_commit\
$git_state\
$git_status\
$character\
"""

right_format = """\
$nix_shell\
$golang\
$lua\
$nodejs\
$python\
$rust\
$cmd_duration\
"""

[nix_shell]
disabled = false
format = '[n(\($name\))](bold blue) '

[character]
success_symbol = '[>](bold green)'
error_symbol = '[>](bold red)'

[directory]
truncation_length = 1
truncate_to_repo = false
fish_style_pwd_dir_length = 1

[git_commit]
tag_symbol = ''

[git_branch]
symbol = ''

[git_status]
format = '[$all_status$ahead_behind]($style)'
ahead = '[↑${count}](green) '
diverged = '[↑${ahead_count}↓${behind_count}](red) '
behind = '[↓${count}](green) '
modified = '[!${count}](yellow) '
untracked = '[?${count}](blue) '
staged = '[+${count}](yellow) '
stashed = '[*${count}](green) '
deleted = '[x${count}](red) '
renamed = '[r${count}](yellow) '

[python]
format = 'via [${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
python_binary = 'python'
pyenv_version_name = false
detect_files = [ '.python-version' ]

[hostname]
ssh_only = false
style = 'bold yellow'
format = '[$hostname]($style) on '
